<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      Just wanna let you know that someone is interested in buying your book <%= @book.title %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
