<h1>LIST OF ALL BOOKS</h1>
<div class="container-fluid">
  <div class="row">
    <div ng-repeat="book in books track by $index">
      <div class="page-header">
        {{ book.title }}
        {{ book.author }}
        {{ book.publisher_name }}
        {{ book.edition_info }}
        {{ book.cover_image_url }}
        {{ book.summary }}
        {{ book.isbn10 }}
        {{ book.isbn13 }}
        <small>
          {{ book.created_at }}
        </small>
      </div>
    </div>
  </div>
</div>
