<h1>Add new book</h1>
<form>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Enter title" ng-keypress="apiSearch($event,book.title)" ng-model="book.title">
  </div>
  <div class="form-group">
    <label>ISBN 10</label>
    <input type="text" class="form-control" ng-keypress="apiSearch($event,book.isbn10)" placeholder="Enter isbn10" ng-model="book.isbn10">
  </div>
  <div class="form-group">
    <label>ISBN 13</label>
    <input type="text" class="form-control" ng-keypress="apiSearch($event,book.isbn13)" placeholder="Enter isbn13" ng-model="book.isbn13">
  </div>
  <div class="form-group">
    <label>Pick your book</label>
    <select ng-model="book" ng-options="book.title + ' --' + book.publisher for book in books"> </select>
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" placeholder="Enter author" ng-model="book.author">
  </div>
  <div class="form-group">
    <label>Publisher</label>
    <input type="text" class="form-control" placeholder="Enter publisher" ng-model="book.publisher">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" class="form-control" placeholder="Enter category" ng-model="book.category">
  </div>
  <div class="form-group">
    <label>Published date</label>
    <input type="text" class="form-control" placeholder="Enter published date" ng-model="book.published_date">
  </div>
  <div class="form-group">
    <label>Small thumbnail</label>
    <input type="text" class="form-control" placeholder="Enter small thumbnail" ng-model="book.small_thumbnail">
  </div>
  <div class="form-group">
    <label>Thumbnail</label>
    <input type="text" class="form-control" placeholder="Enter thumbnail" ng-model="book.thumbnail">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Enter description" ng-model="book.description">
  </div>
  <div class="form-group">
    <label>Page count</label>
    <input type="text" class="form-control" placeholder="Enter page count" ng-model="book.page_count">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" placeholder="Enter price" ng-model="book.price">
  </div>
  <div class="form-group">
    <label>Condition</label>
    <input type="text" class="form-control" placeholder="Enter condition" ng-model="book.condition">
  </div>
  <div class="form-group">
    <label>Notes</label>
    <input type="text" class="form-control" placeholder="Enter notes" ng-model="book.notes">
  </div>
  <button type="button" ng-click="form.create()" class="btn btn-default">Submit</button>
</form>

<div class="container">
  <div class="row">
    <h1>Sign Up</h1>
    <form ng-submit="signup()" role="form" ng-init="registrationForm = {}">
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control" placeholder="Enter Email"/>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" ng-model="registrationForm.name" required="required" class="form-control" placeholder="Enter your name"/>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control" placeholder="Enter Password"/>
      </div>

      <div class="form-group">
        <label>password Confirmation</label>
        <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control" placeholder="Enter Password Confirmation"/>
      </div>

      <button type="submit" class="btn btn-primary btn-lg">Register</button>
      <a href="/#/"><button class="btn btn-danger btn-lg">Back</button></a>
    </form>
  </div>
</div>
