
<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="input-group" id="searchInput">
        <form  ng-submit="searchItem()" method="post">
          <span class="input-group-btn">
          <input type="text" class="form-control" ng-model="search">
          <button class="btn btn-default" id="indexSearchButton" type="submit"><i class="fa fa-search"></i></button>
          </span>
        </form>
      </div><!-- /input-group -->
      <p class="lead" id="sortBy">Sort by</p>
      <div class="list-group">
        <a class="list-group-item" ng-click="reverse=true;order('created_at', true)">Newest</a>
        <a class="list-group-item" ng-click="reverse=!reverse;order('price', reverse)">Price</a>
        <a class="list-group-item" ng-click="reverse=!reverse;order('condition', reverse)">Condition</a>
      </div>
    </div>

    <div class="col-md-9">
        <div class="col-md-12" id="carouselDiv">
          <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide ng-repeat="slide in slides" active="slide.active">
              <img id="carouselImg" ng-src="{{slide.image}}">
              <div class="carousel-caption">
                <p>{{slide.text}}</p>
              </div>
            </slide>
          </carousel>
      </div>

      <div class="row">
        <div ng-repeat="item in items track by $index" class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img ng-src="{{ item.thumbnail }}" data-toggle="modal" data-target="#modal{{item.id}}" alt="">
            <div class="caption">
              <h4><a data-toggle="modal" data-target="#modal{{item.id}}">{{item.title}}</a></h4>
              <div class="ratings">
              <p>by <i>{{item.author}}</i></p>
                <span>Condition: </span>
                <span ng-repeat="Star in [1,2,3,4,5]">
                  <span ng-switch="item.condition >= Star">
                    <span ng-switch-when="true">
                      <i class="fa fa-star"></i>
                    </span>
                    <span ng-switch-when="false">
                      <span ng-switch="item.condition > (Star-1)">
                        <span ng-switch-when="true">
                          <i class="fa fa-star-half"></i>
                        </span>
                        <span ng-switch-when="false">
                          <i class="fa fa-star-o"></i>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
              </div>
              <h4 id="priceTag" class="pull-right">${{item.price}}</h4>
            </div>
          </div>

          <div class="modal" id="modal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="{{item.id}}Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                  <h4 class="modal-title" id="{{item.id}}Label"><i class="text-muted fa fa-shopping-cart"></i> <b> {{item.title}}</b></h4>
                </div>
                <div class="modal-body">
                  <table class="pull-left col-md-8 ">
                    <tbody class="bookTableBody">
                      <tr>
                        <td><strong>Author</strong></td>
                        <td> </td>
                        <td>{{ item.author }}</td>
                      </tr>
                      <tr>
                        <td><strong>Category</strong></td>
                        <td> </td>
                        <td>{{ item.category }}</td>
                      </tr>
                      <tr>
                        <td><strong>Publisher</strong></td>
                        <td> </td>
                        <td>{{ item.publisher }}</td>
                      </tr>
                      <tr>
                        <td><strong>Published date</strong></td>
                        <td> </td>
                        <td>{{ item.published_date }}</td>
                      </tr>
                      <tr>
                        <td><strong>Page count</strong></td>
                        <td> </td>
                        <td>{{ item.page_count }}</td>
                      </tr>
                      <tr>
                        <td><strong>ISBN 10</strong></td>
                        <td> </td>
                        <td>{{ item.isbn10 }}</td>
                      </tr>
                      <tr>
                        <td><strong>ISBN 13</strong></td>
                        <td> </td>
                        <td>{{ item.isbn13 }}</td>
                      </tr>
                      <tr>
                        <td><strong>Notes from seller</strong></td>
                        <td> </td>
                        <td>{{ item.notes }}</td>
                      </tr>
                      <tr>
                        <td id="showDescriptionButton" ng-hide="description" ng-click="description=true" class="btn-mais-info text-primary">
                          <i class="fa fa-plus-square-o"></i> Show description
                        </td>
                        <td id="hideDescriptionButton" ng-show="description" ng-click="description=false" class="btn-mais-info text-primary">
                          <i class="fa fa-minus-square-o"></i> Hide description
                        </td>
                      </tr>
                    </tbody>
                  </table>


                  <div class="col-md-4">
                    <img ng-src="{{ item.thumbnail }}" alt="teste" class="img-thumbnail">
                  </div>

                  <div class="clearfix"></div>
                  <p ng-show="description" id="itemDescription">{{item.description}}</p>
                </div>

                <div class="modal-footer">
                  <div class="pull-right">
                    <span class="text-muted modalPrice"><strong>${{item.price}}</strong></span>
                    <span><button class="btn btn-primary btn-success" ng-click='makeRequest(item.id)'>Make a request to the seller</button></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Book guy 2015</p>
            </div>
        </div>
    </footer>

</div>
