
<navbar></navbar>

<div class="container">
  <div class="row">
    <a class="btn btn-info pull-right btn-md" id="addNewButton" data-toggle="modal" data-target="#createModal"><i class="fa fa-plus"></i> Add new</a>
    <div class="col-md-12">
      <div class="row">
        <div ng-repeat="item in items track by $index" class="col-sm-3 col-lg-3 col-md-3">
          <div class="thumbnail">
            <img ng-src="{{ item.thumbnail }}" data-toggle="modal" data-target="#modal{{item.id}}" ng-click="stopEdit()" alt="">
            <div class="caption">
              <h4><a data-toggle="modal" data-target="#modal{{item.id}}" ng-click="stopEdit()">{{item.title}}</a></h4>
              <div class="ratings">
              <p>by <i>{{item.author}}</i></p>
                <span>Condition: </span>
                <span ng-repeat="Star in [1,2,3,4,5]">
                  <span ng-switch="item.condition >= Star">
                    <span ng-switch-when="true">
                      <i class="fa fa-star"></i>
                    </span>
                    <span ng-switch-when="false">
                      <span ng-switch="item.condition > (Star-1)">
                        <span ng-switch-when="true">
                          <i class="fa fa-star-half"></i>
                        </span>
                        <span ng-switch-when="false">
                          <i class="fa fa-star-o"></i>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
              </div>
              <h4 id="priceTag" class="pull-right">${{item.price}}</h4>
            </div>
          </div>

          <div class="modal" id="modal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="{{item.id}}Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div ng-hide="editing" class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                  <h4 class="modal-title" id="{{item.id}}Label">
                    <i class="text-muted fa fa-shopping-cart"></i>
                    <b> {{item.title}}</b>
                  </h4>
                </div>
                <div class="modal-body">
                  <form id="editForm"  ng-submit='form.edit(edit.id)'>
                    <table class="pull-left col-md-8 ">
                      <tbody class="bookTableBody">
                        <tr ng-show="editing">
                          <td><strong>Title</strong></td>
                          <td> </td>
                          <td>
                            <input type="text" class="form-control input-sm" placeholder="Enter title" ng-model="edit.title">
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Author</strong></td>
                          <td> </td>
                          <td>
                            <span ng-hide="editing">{{ item.author }}</span>
                            <input type="text" ng-show="editing" class="form-control input-sm" placeholder="Enter author" ng-model="edit.author">
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Category</strong></td>
                          <td> </td>
                          <td>
                            <span ng-hide="editing">{{ item.category }}</span>
                            <input type="text" ng-show="editing" class="form-control input-sm" placeholder="Enter category" ng-model="edit.category">
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Publisher</strong></td>
                          <td> </td>
                          <td>
                            <span ng-hide="editing">{{ item.publisher }}</span>
                            <input type="text" ng-show="editing" class="form-control input-sm" placeholder="Enter publisher" ng-model="edit.publisher">
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Published date</strong></td>
                          <td> </td>
                          <td>
                            <span ng-hide="editing">{{ item.published_date }}</span>
                            <input type="text" ng-show="editing" class="form-control input-sm" placeholder="Enter published_date" ng-model="edit.published_date">
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Page count</strong></td>
                          <td> </td>
                          <td>
                            <span ng-hide="editing">{{ item.page_count }}</span>
                            <input type="text" ng-show="editing" class="form-control input-sm" placeholder="Enter page_count" ng-model="edit.page_count">
                          </td>
                        </tr>
                        <tr>
                          <td><strong>ISBN 10</strong></td>
                          <td> </td>
                          <td>
                            <span ng-hide="editing">{{ item.isbn10 }}</span>
                            <input type="text" ng-show="editing" class="form-control input-sm" placeholder="Enter isbn10" ng-model="edit.isbn10">
                          </td>
                        </tr>
                        <tr>
                          <td><strong>ISBN 13</strong></td>
                          <td> </td>
                          <td>
                            <span ng-hide="editing">{{ item.isbn13 }}</span>
                            <input type="text" ng-show="editing" class="form-control input-sm" placeholder="Enter isbn13" ng-model="edit.isbn13">
                          </td>
                        </tr>
                        <tr ng-show="editing">
                          <td><strong>Thumbnail</strong></td>
                          <td> </td>
                          <td>
                            <input type="text" class="form-control input-sm" placeholder="Enter thumbnail url" ng-model="edit.thumbnail">
                          </td>
                        </tr>
                        <tr>
                        <tr ng-show="editing">
                          <td><strong>Condition</strong></td>
                          <td> </td>
                          <td class="conditionRating">
                            <rating ng-model="edit.condition" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Notes</strong></td>
                          <td> </td>
                          <td>
                            <span ng-hide="editing">{{ item.notes }}</span>
                            <textarea rows="2" cols="30" type="text" ng-show="editing" class="form-control input-sm" placeholder="Enter notes" ng-model="edit.notes"></textarea>
                          </td>
                        </tr>
                        <tr ng-show="editing">
                          <td><strong>Description</strong></td>
                          <td> </td>
                          <td>
                            <textarea rows="5" cols="30" type="text" class="form-control input-sm" placeholder="Enter notes" ng-model="edit.description"></textarea>
                          </td>
                        </tr>
                        <tr ng-hide="editing">
                          <td id="showDescriptionButton" ng-hide="description" ng-click="description=true" class="btn-mais-info text-primary">
                            <i class="fa fa-plus-square-o"></i> Show description
                          </td>
                          <td id="hideDescriptionButton" ng-show="description" ng-click="description=false" class="btn-mais-info text-primary">
                            <i class="fa fa-minus-square-o"></i> Hide description
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>


                  <div class="col-md-4">
                    <img ng-hide="editing" ng-src="{{ item.thumbnail }}" err-src="<%= image_path('book-guy-logo.png') %>" alt="Image not found" class="img-thumbnail">
                    <h3 ng-show="editing">Preview:</h3>
                    <img ng-show="editing" ng-src="{{ edit.thumbnail }}" err-src="<%= image_path('book-guy-logo.png') %>" alt="Image not found" class="img-thumbnail">
                  </div>

                  <div class="clearfix"></div>
                  <p ng-show="description && !editing" id="itemDescription">{{item.description}}</p>
                </div>

                <div class="modal-footer">
                  <div class="pull-right">
                    <span ng-hide="editing" class="text-muted modalPrice"><strong>${{item.price}}</strong></span>
                    <input type="text" ng-show="editing" class="form-control input-lg" placeholder="Enter Price" ng-model="edit.price">
                  </div>
                  <div class="editButtons pull-left">
                    <span><button class="btn btn-primary" type="button" ng-hide="editing" ng-click='editBook(item.id)'>Edit</button></span>
                    <span><button class="btn btn-primary" type="button" ng-show="editing" ng-click="stopEdit()">Cancel</button></span>
                    <span><button class="btn btn-primary" type="submit" form="editForm" ng-show="editing">Save</button></span>
                    <span><button class="btn btn-primary btn-danger" ng-show="editing" ng-click='deleteBook(item.id)'>Delete this book</button></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new book</h4>
      </div>
      <div class="modal-body">
        <form>
          <table class="pull-left col-md-8">
            <tr>
              <td><strong>Title</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm" placeholder="Enter title" ng-keypress="apiSearch($event,book.title)" ng-model="book.title">
              </td>
            </tr>
            <tr>
              <td><strong>ISBN 10</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm" ng-keypress="apiSearch($event,book.isbn10)" placeholder="Enter isbn10" ng-model="book.isbn10">
              </td>
            </tr>
            <tr>
              <td><strong>ISBN 13</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm" ng-keypress="apiSearch($event,book.isbn13)" placeholder="Enter isbn13" ng-model="book.isbn13">
              </td>
            </tr>
            <tr>
              <td><strong>Pick your book</strong></td>
              <td> </td>
              <td>
                <select ng-model="book" ng-options="book.title + ' --' + book.publisher for book in books"> </select>
              </td>
            </tr>
            <tr>
              <td><strong>Author</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm"  placeholder="Enter author" ng-model="book.author">
              </td>
            </tr>
            <tr>
              <td><strong>Publisher</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm"  placeholder="Enter publisher" ng-model="book.publisher">
              </td>
            </tr>
            <tr>
              <td><strong>Category</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm"  placeholder="Enter category" ng-model="book.category">
              </td>
            </tr>
            <tr>
              <td><strong>Published date</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm"  placeholder="Enter published date" ng-model="book.published_date">
              </td>
            </tr>
            </tr>
            <tr>
              <td><strong>Page count</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm"  placeholder="Enter page count" ng-model="book.page_count">
              </td>
            </tr>
            <tr>
              <td><strong>Thumbnail</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm"  placeholder="Enter thumbnail" ng-model="book.thumbnail">
              </td>
            </tr>
            <tr>
              <td><strong>Description</strong></td>
              <td> </td>
              <td>
                <textarea rows="5" cols="30" type="text" class="form-control input-sm" placeholder="Enter description" ng-model="book.description"></textarea>
              </td>
            </tr>
            <tr>
              <td><strong>Notes</strong></td>
              <td> </td>
              <td>
                <textarea rows="2" cols="30" type="text" class="form-control input-sm" placeholder="Enter notes" ng-model="book.notes"></textarea>
              </td>
            </tr>
            <tr>
              <td><strong>Condition</strong></td>
              <td> </td>
              <td class="conditionRating">
                <rating ng-model="book.condition" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
              </td>
            </tr>
            <tr>
              <td><strong>Price</strong></td>
              <td> </td>
              <td>
                <input type="text" class="form-control input-sm"  placeholder="Enter price" ng-model="book.price">
              </td>
            </tr>
          </table>
        </form>
        <div class="col-md-4">
          <h3 >Preview:</h3>
          <img ng-src="{{ book.thumbnail }}" err-src="<%= image_path('book-guy-logo.png') %>" alt="Image not found"  class="img-thumbnail">
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="form.create()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
