<navbar></navbar>

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h1>LIST OF ALL YOUR BOOKS</h1>
      <div class="row">
        <div ng-repeat="item in items track by $index" class="col-sm-3 col-lg-3 col-md-3">
          <div class="thumbnail">
            <img ng-src="{{ item.thumbnail }}" data-toggle="modal" data-target="#modal{{item.id}}" alt="">
            <div class="caption">
              <h4><a data-toggle="modal" data-target="#modal{{item.id}}">{{item.title}}</a></h4>
              <div class="ratings">
              <p>by <i>{{item.author}}</i></p>
                <span>Condition: </span>
                <span ng-repeat="Star in [1,2,3,4,5]">
                  <span ng-switch="item.condition >= Star">
                    <span ng-switch-when="true">
                      <i class="fa fa-star"></i>
                    </span>
                    <span ng-switch-when="false">
                      <span ng-switch="item.condition > (Star-1)">
                        <span ng-switch-when="true">
                          <i class="fa fa-star-half"></i>
                        </span>
                        <span ng-switch-when="false">
                          <i class="fa fa-star-o"></i>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
              </div>
              <h4 id="priceTag" class="pull-right">${{item.price}}</h4>
            </div>
          </div>

          <div class="modal" id="modal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="{{item.id}}Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                  <h4 class="modal-title" id="{{item.id}}Label"><i class="text-muted fa fa-shopping-cart"></i> <b> {{item.title}}</b></h4>
                </div>
                <div class="modal-body">
                  <form ng-submit='form.edit(item.id)'>
                    <table class="pull-left col-md-8 ">
                      <tbody class="bookTableBody">
                        <tr>
                          <td><strong>Author</strong></td>
                          <td> </td>
                          <td>
                            <span ng-hide="editing">{{ item.author }}</span>
                            <input type="text" ng-show="editing" class="form-control" placeholder="Enter title" ng-model="edit.author">
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Category</strong></td>
                          <td> </td>
                          <td>{{ item.category }}</td>
                        </tr>
                        <tr>
                          <td><strong>Publisher</strong></td>
                          <td> </td>
                          <td>{{ item.publisher }}</td>
                        </tr>
                        <tr>
                          <td><strong>Published date</strong></td>
                          <td> </td>
                          <td>{{ item.published_date }}</td>
                        </tr>
                        <tr>
                          <td><strong>Page count</strong></td>
                          <td> </td>
                          <td>{{ item.page_count }}</td>
                        </tr>
                        <tr>
                          <td><strong>ISBN 10</strong></td>
                          <td> </td>
                          <td>{{ item.isbn10 }}</td>
                        </tr>
                        <tr>
                          <td><strong>ISBN 13</strong></td>
                          <td> </td>
                          <td>{{ item.isbn13 }}</td>
                        </tr>
                        <tr>
                          <td><strong>Notes from seller</strong></td>
                          <td> </td>
                          <td>{{ item.notes }}</td>
                        </tr>
                        <tr>
                          <td id="showDescriptionButton" ng-hide="description" ng-click="description=true" class="btn-mais-info text-primary">
                            <i class="fa fa-plus-square-o"></i> Show description
                          </td>
                          <td id="hideDescriptionButton" ng-show="description" ng-click="description=false" class="btn-mais-info text-primary">
                            <i class="fa fa-minus-square-o"></i> Hide description
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>


                  <div class="col-md-4">
                    <img ng-src="{{ item.thumbnail }}" alt="teste" class="img-thumbnail">
                  </div>

                  <div class="clearfix"></div>
                  <p ng-show="description" id="itemDescription">{{item.description}}</p>
                </div>

                <div class="modal-footer">
                  <div class="pull-right">
                    <span class="text-muted modalPrice"><strong>${{item.price}}</strong></span>
                  </div>
                  <div class="editButtons pull-left">
                    <span><button class="btn btn-primary" type="button" ng-hide="editing" ng-click='editBook(item.id)'>Edit</button></span>
                    <span><button class="btn btn-primary" type="button" ng-show="editing" ng-click="stopEdit()">Cancel</button></span>
                    <span><button class="btn btn-primary" type="submit" ng-show="editing" ng-click='saveEdit(item.id)'>Save</button></span>
                    <span><button class="btn btn-primary btn-danger" ng-show="editing" ng-click='deleteBook(item.id)'>Delete this book</button></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h1>Add new book</h1>
<form>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Enter title" ng-keypress="apiSearch($event,book.title)" ng-model="book.title">
  </div>
  <div class="form-group">
    <label>ISBN 10</label>
    <input type="text" class="form-control" ng-keypress="apiSearch($event,book.isbn10)" placeholder="Enter isbn10" ng-model="book.isbn10">
  </div>
  <div class="form-group">
    <label>ISBN 13</label>
    <input type="text" class="form-control" ng-keypress="apiSearch($event,book.isbn13)" placeholder="Enter isbn13" ng-model="book.isbn13">
  </div>
  <div class="form-group">
    <label>Pick your book</label>
    <select ng-model="book" ng-options="book.title + ' --' + book.publisher for book in books"> </select>
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" placeholder="Enter author" ng-model="book.author">
  </div>
  <div class="form-group">
    <label>Publisher</label>
    <input type="text" class="form-control" placeholder="Enter publisher" ng-model="book.publisher">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" class="form-control" placeholder="Enter category" ng-model="book.category">
  </div>
  <div class="form-group">
    <label>Published date</label>
    <input type="text" class="form-control" placeholder="Enter published date" ng-model="book.published_date">
  </div>
  <div class="form-group">
    <label>Small thumbnail</label>
    <input type="text" class="form-control" placeholder="Enter small thumbnail" ng-model="book.small_thumbnail">
  </div>
  <div class="form-group">
    <label>Thumbnail</label>
    <input type="text" class="form-control" placeholder="Enter thumbnail" ng-model="book.thumbnail">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Enter description" ng-model="book.description">
  </div>
  <div class="form-group">
    <label>Page count</label>
    <input type="text" class="form-control" placeholder="Enter page count" ng-model="book.page_count">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" placeholder="Enter price" ng-model="book.price">
  </div>
  <div class="form-group">
    <label>Condition</label>
    <input type="text" class="form-control" placeholder="Enter condition" ng-model="book.condition">
  </div>
  <div class="form-group">
    <label>Notes</label>
    <input type="text" class="form-control" placeholder="Enter notes" ng-model="book.notes">
  </div>
  <button type="button" ng-click="form.create()" class="btn btn-default">Submit</button>
</form>
