<navbar></navbar>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Your requests</p>
      <div class="list-group" ng-init="tab = 1">
        <a ng-click="tab = 1" class="list-group-item">Incoming</a>
        <a ng-click="tab = 2" class="list-group-item">Outgoing</a>
      </div>
    </div>

    <div class="col-md-9">
      <div ng-show="tab === 1">
        <table st-table="incomings" class="table table-striped">
        	<thead>
        	<tr>
        		<th st-sort="book.title">Title</th>
        		<th st-sort="created_at">Received</th>
        		<th st-sort="request_from">Sender</th>
        		<th st-sort="request_email">Contact</th>
        		<th>Email</th>
        	</tr>
        	<tr>
        		<th>
        			<input st-search="book.title" placeholder="Search for title" class="input-sm form-control" type="search"/>
        		</th>
        		<th colspan="4">
        			<input st-search placeholder="Global search" class="input-sm form-control" type="search"/>
        		</th>
        	</tr>
        	</thead>
        	<tbody>
        	<tr ng-repeat="incoming in incomings">
        		<td>{{incoming.book.title}}</td>
        		<td>{{incoming.created_at | date:'short' }}</td>
        		<td>{{incoming.request_from}}</td>
        		<td>{{incoming.request_email}}</td>
        		<td><a ng-href="mailto:{{incoming.request_email}}">Email</a></td>
        	</tr>
        	</tbody>
        </table>


      </div>
      <p ng-show="tab === 2"> I drink pulpy orange juice, mango milk shake... </p>
    </div>
  </div>
</div>
