.bookTableBody {
  font-size: 15px;
  vertical-align: top;
}

.editButtons {
  margin-top: 8px
}

.modalPrice {
  vertical-align: middle;
  font-size: 35px;
  margin-right: 10px
}

.modal-footer {
  padding: 5px 15px 5px 15px;
}

.carousel-control span{
  margin-top: 150px
}

#itemDescription {
  font-size: 15px;
  margin: 10px 0px 0px 0px;
  text-align: justify;
  padding-right: 15px
}

#showDescriptionButton, #hideDescriptionButton, a, .thumbnail > img {
  cursor: pointer;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
    position: relative;
}

.caption h4 {
    // white-space: nowrap;
}

.thumbnail img {
    height: 250px
}

.ratings {
    position: absolute;
    bottom: 6px
}

.ratings span {
    color: #d17581;
}

#priceTag {
    position: absolute;
    right: 10px;
    bottom: 0px;
    font-size: 22px
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

#sortBy {
  margin-bottom: 5px
}

#searchInput {
  margin-bottom: 20px
}

#indexSearchButton {
  padding: 9px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px
}
