#signUpButton {
  margin-left: 4px
}

#signUpModalBody {
  width: 100%
}

#navbarLogo {
  height: 35px;
  display: block;
  float: left;
  margin-top: -8px;
  margin-right: 8px
}

#navbarLogoText {
  height: 35px;
  display: block;
  float: left;
  margin-top: -7px;
  margin-right: 8px
}
